.nav_list_name {
  display: flex;
  align-items: center;
  padding: 18px 10px;
  text-decoration: none;

}
.nav_list_name img {
  padding-right: 10px;
}
.nav_list_name a {
  text-decoration: none;
  color: black;
}
.active_nav_list_name {
  display: flex;
  align-items: center;
  padding: 18px 25px;
  text-decoration: none;
}
.active_nav_list_name img {
  padding-right: 10px;
}
.active_nav_list_name a {
  text-decoration: none;
  color: red;
}
.nav-marker {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}
